name: Security Scanning

on:
  pull_request: # TODO: _target:
    branches:
      - main

  push:
    branches:
      - main

  # Run every day at 5am UTC
  schedule:
    - cron: "0 5 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  fossa-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Run FOSSA Scan
        uses: fossas/fossa-action@main
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}

      - name: Run FOSSA Test
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
        run: |
          fossa test --format json | tee fossa-test.json 1>&2

      - name: Upload FOSSA Test Results
        uses: actions/upload-artifact@v2
        with:
          name: fossa-test
          path: fossa-test.json

  fossa-security-check:
    needs: fossa-scan
    runs-on: ubuntu-latest

    steps:
      - name: Download FOSSA Test Results
        uses: actions/download-artifact@v2
        with:
          name: fossa-test
          path: fossa-test.json

      - name: Check Security Vulns
        run: |
          VULNS=$(cat fossa-test.json | jq '.issues | map(select(.type == "vulnerability")) | length')
          if [ $VULNS -gt 0 ]; then
            echo "FOSSA Security Check failed"
            echo "Vulnerabilities found: $VULNS"
            cat fossa-test.json
            exit 1
          fi
